/* # para llamar lo del id*/
/*
    absolute -> es el total de la pantalla
    sticky se mueve todo
    position ctrabajo con los de arriba y trabja
    
*/
#contenedor
{
    width: 800px;
    height: 1200px;
    background-color: darksalmon;
    margin: auto;

}
#oreja1
{
    width: 65px;
    height: 75px;
    display: inline-block;
    background-color: yellow;
    position: relative;
    border-radius: 50px; 
    margin: auto;
    left: 275px;
    top: 120px;
    transform: rotate(130deg);
}
#oreja2
{
    width: 65px;
    height: 75px;
    display: inline-block;
    background-color: yellow;
    position: relative;
    border-radius: 50px; 
    margin: auto;
    left: 380px;
    top: 120px;
    transform: rotate(230deg);
}
#cabeza
{
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    position: relative; /* absolute total dispositivo -- relativo de la caja*/
    border-radius: 300px;
    left: 250px;
    top: 90px;
}
#ojo1
{
    width: 70px;
    height: 70px;
    background-color:white;
    display: inline-block;
    position: relative; /* absolute total dispositivo -- relativo de la caja*/
    border-radius: 300px;
    left: 50px;
    top: 100px;
}
#ojo2
{
    width: 70px;
    height: 70px;
    background-color:white;
    display: inline-block;
    position: relative; /* absolute total dispositivo -- relativo de la caja*/
    border-radius: 300px;
    left: 100px;
    top: 100px;
}
#nari
{
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative; /* absolute total dispositivo -- relativo de la caja*/
    border-radius: 300px;
    left: 120px;
    top: 90px;
}
#cuerpo
{
    width: 400px;
    height: 400px;
    background-color: red;
    display: inline-block;
    position: relative;
    border-radius: 400px;
    left: 120px;
    top: 80px;  
    
}
#mano1
{
    width: 80px;
    height: 150px;
    display: inline-block;
    background-color: brown;
    position: relative;
    border-radius: 100px; 
    margin: auto;
    left: 130px;
    top: 30px;
    transform: rotate(130deg);
}

#mano2
{
    width: 80px;
    height: 150px;
    display: inline-block;
    background-color: brown;
    position: relative;
    border-radius: 100px; 
    margin: auto;
    left: 110px;
    top: 30px;
    transform: rotate(230deg);
}

#pie1{
    width: 90px;
    height: 150px;
    background-color:darkblue;
    position: relative; 
    border-radius: 100px; 
   
    left: 220px;
    top: 30px;
    transform: rotate(45deg);
}

#pie2{
    
    width: 90px;
    height: 150px;
    background-color:darkblue;
    position: relative; 
    border-radius: 100px; 
   display: inline-block;
   margin: auto;
    left: 480px;
    top: -110px;
    transform: rotate(145deg);}

#cuerpo-redondo
{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    display: inline-block;
    position: relative;
    border-radius: 200px;
    left: 100px;
    top: 100px;      
}
p
{
    text-align: center;
    font-size:40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}